@media (prefers-color-scheme: dark){
	:root {
		--dark-red: var(--warn-yellow);
		--dark-blue: #02659f;
		--light-blue: #2ba6ff;
		--light-grey-bg: #2a2a2a;
		--light-grey-border: #5d5d5dba;
		--middle-grey: #464646;
		--dark-grey-border: #828282ba;
		--warn-yellow: #f6bd16;
		--main-bg: black;
		--main-text-color: white;
		--link-color: #70caff;
    --anchor-red: var(--warn-yellow);
	}

  .header-left {
    display: none; /* It shouldn't be possible to override the system's theme with JS */
  }

	.flag-de {
		display: none;
	}

	.flag-de-darkmode {
		display: inline-block;
	}
}