@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Bold';
    src: url('../fonts/Merriweather-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Black';
    src: url('../fonts/Merriweather-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Merriweather Light';
    src: url('../fonts/Merriweather-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Black';
    src: url('../fonts/OpenSans-ExtraBlack.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium Bold';
    src: url('../fonts/TitilliumWeb-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium Black';
    src: url('../fonts/TitilliumWeb-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Titillium Light';
    src: url('../fonts/TitilliumWeb-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Fredoka One';
    src: url('../fonts/FredokaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Russo One';
    src: url('../fonts/RussoOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Noto Serif Bold';
    src: url('../fonts/NotoSerif-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Monoton';
    src: url('../fonts/Monoton-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Francois One';
    src: url('../fonts/FrancoisOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Archivo Black';
    src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
}