header { /* actually deprecated */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: white;
	border-bottom: 1px solid #eeee;
	z-index: 10;
}

.header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100vw;
	max-width: 100%;
	height: 70px;
	background-color: var(--main-bg);
	border-bottom: 1px solid #dcdcdced; /* deprecated */
	border-bottom-color: var(--light-grey-border);
	z-index: 10;
	margin-top: calc(100vh - 110px);
	margin-top: 100vh;
}

.header-regular {
	position: fixed;
	margin-top: 0px;
}

.header-left {
  position: absolute;
  left: 50px;
  height: 70px;
  width: 20px;
}

.header-theme-button {
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  font-size: 25px;
}

.header-dark-button {
  display: inline-block;
  color: var(--dark-blue);
}

.header-light-button {
  display: none;
  color: white;
}

.header-centre {
	width: 300px;
	height: 70px;
	margin: auto;
	display: grid;
	place-content: center;
	cursor: pointer;
}

.header-centre-inner {
	display: grid;
	width: 100%;
	height: 70px;
	grid-template-columns: auto auto;
	text-decoration: none;
}

.header-right {
	width: 20px;
	height: 70px;
	position: absolute;
	right: 50px;
	vertical-align: middle;
}

.header-flag {
	height: 30px;
	width: auto;
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}

.flag-de-darkmode {
	display: none;
}

.logo {
	height: 50px;
	width: auto;
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}