@charset "UTF-8";
.twa {
	display: inline-block;
	height: 1em;
	width: 1em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 1em 1em; 
}
  
.twa-de { background-image: url("../emojis/de.svg"); }
.twa-uk { background-image: url("../emojis/uk.svg"); }