{{ $link := .Get 0 }}
{{ $title := "" }}
{{ $description := "" }}
{{ $lang := .Get 1 }}
{{ $colour := "" }}

{{ if eq $lang "en" }}
  {{ $lang = "" }}
{{ else }}
  {{ $slash := "/"}}
  {{ $lang = printf "%s" $lang | printf "%s%s" $slash | printf "%s" }}
{{ end }}


{{ if eq $link "preventPhishing" }}
  {{ $filename := "/tutorials/how-to-prevent-being-phished" }}
  {{ $link = printf "%s" $filename | printf "%s%s" $lang | printf "%s" }}
  {{ $title = i18n "preventPhishingTitle" }}
  {{ $description = i18n "preventPhishingDesc" }}
  {{ $colour = "green"}}

{{ else if eq $link "recognizePhishing" }}
  {{ $filename := "/tutorials/how-to-recognize-phishing" }}
  {{ $link = printf "%s" $filename | printf "%s%s" $lang | printf "%s" }}
  {{ $title = i18n "recognizePhishingTitle" }}
  {{ $description = i18n "recognizePhishingDesc" }}
  {{ $colour = "blue"}}
{{ end }}

<a class="teaser teaser-{{ $colour }}" href="{{ $link }}">
  <div class="teaser-left">
    <span class="teaser-headline">{{ $title }}</span>
    <p class="teaser-description">
      {{ $description }}
    </p>
  </div>

  <div class="teaser-right">
    <span class="teaser-arrow">
      <i class="fas fa-chevron-circle-right"></i>
    </span>
  </div>
</a>
