<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  {{ partial "head" . }}

	<body class="body-regular">

    {{ partial "header" . }}

		<section class="section-top-regular">
      {{ .Content }}
		</section>

    <div class="card-container-outer">
      <a class="card-container-headline">{{ i18n "otherResources" }}</a>
      <div class="card-container">
        {{ range .Page.Params.links }}
          {{ partial "card.html" (dict "card" . "cardName" .) }}
        {{ end }}
      </div>
    </div>

    {{ partial "footer" . }}
  </body>
</html>
