		<footer>
			<div class="footer-inner">
				<span class="footer-link-outer">© <a class="footer-link" href="{{ site.Params.AuthorCodeberg}}">{{ site.Params.Author}}</a></span> <a class="footer-dot">⦁</a>
				<span class="footer-link-outer"><a class="footer-link" href="{{ site.Params.GitLink }}">{{ i18n "sourceCode"}}</a></span> <a class="footer-dot">⦁</a>
				<span class="footer-link-outer"><a class="footer-link" href="{{ site.Params.AuthorContact }}">{{ i18n "contact" }}</a></span> <a class="footer-dot">⦁</a>
				<span class="footer-link-outer">{{ i18n "licensedUnder" }} <a class="footer-link footer-link-additional" href="{{ site.Params.LicenceLink }}">{{ i18n "fogEye" }}</a></span>
			<div>
		</footer>
