<div class="top-background">
  <div class="top-splitter">
    <a class="top-triangle">
      <i class="bi bi-exclamation-triangle"></i>
    </a>

    <div class="top-text">
      <a class="top-headline">{{ i18n "warning" }}</a>

      <p class="top-description">
        <a class="important">{{ i18n "warningFirstSentence" }}</a>
        {{ i18n "warningDesc" | safeHTML }}
      </p>
    </div>
  </div>

  <div class="top-info">
    <a class="top-info-text"><i class="bi bi-chevron-double-down"></i></a>
  </div>
</div>
